@{
    Layout = null;
    var newsTitle = "Court Wordicts on Mushaeaf";
    var issueDate = "19 December 2019";
    var descryption = "<p>Court wordect</p>";
    var reporter = "hk";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@newsTitle</h1>
        <div>Date #@issueDate</div>
        <h2>Descryption</h2>
        <div>@Html.Raw(descryption)</div>
        <h3>Reporter</h3>
        <div>@reporter</div>
    </div>
</body>
</html>
