@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.NewsTitle</h1>
        <div>Date #@ViewBag.IssueDate</div>
        <h2>Descryption</h2>
        <div>@Html.Raw(ViewBag.Descryption)</div>
        @if (ViewBag.NewsInfo.Length >0)
        {
        <h3>Info</h3>
        <div>
            @foreach (var item in ViewBag.NewsInfo)
            {
                <ul>
                    <li> <text> * @item </text> </li>
                </ul>
            }
        </div>
        }
    </div>
</body>
</html>
