@{
    Layout = null;
    var newsTitle = "Court Wordicts on Mushaeaf";
    var issueDate = "19 December 2019";
    var descryption = "<p>Court wordect</p>";
    var newsInfo = new string[]
{
    "Reporter : Hamza",
    "Source : CNN",
    "Other : Fox"
};


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@newsTitle</h1>
        <div>Date #@issueDate</div>
        <h2>Descryption</h2>
        <div>@Html.Raw(descryption)</div>
        @if (newsInfo.Length >0)
        {
        <h3>Info</h3>
        <div>
            @foreach (var item in newsInfo)
            {
                <ul>
                    <li> <text> * @item </text> </li>
                </ul>
            }
        </div>
        }
    </div>
</body>
</html>
